body {
    background-image: url("images/background-image.jpg");
}

#blobBackground {
    background-image: url("svg/blob0.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto;
}